
# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R programming language
2. Python
3. SQL (Structured Query Language)
4. julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn
4. dplyr
5. Plotly

|Category|Library/Tool|Description|
|--------|------------|-----------|
|Python  |  Pandas    |    Handles structured data like DataFrames for cleaning, transforming, and analyzing data.|
|R       | dplyr      |Simplifies data manipulation tasks like filtering, summarizing, and grouping.|
|Python  |NLTK        |Prepares and processes text data, including tokenization and stemming.|

### Below are a few examples of evaluating arithmetic expressions in Python

In [34]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [46]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

# Objectives:
* Python
 * R
 * SQL
 * SAS

## Author
Awolola oluwanifemi